* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222525;
  color: aliceblue;
}

main {
  width: 100%;
  min-height: 100vh;
}

header, footer {
  background-color: #0d6efd;
  color: aliceblue;
}

.add-product {
  background-color: #0d6efd;
  color: aliceblue;
}

.add-product .form-control {
  background-color: #222525 !important;
  color: aliceblue;
  margin: 10px 0;
}

.add-product .btn,
footer .btn {
  border: 2px solid aliceblue !important;
  color: aliceblue;
}

.add-product .btn:hover,
footer .btn:hover {
  background-color: aliceblue;
  color:#0d6efd;
}

.form-control {
  background-color: transparent !important;
  color:#0d6efd;
}

.form-control:focus {
  background-color: #373838 !important;
  color:#0d6efd;
}

.svg-login {
  font-size: 150px;
  color:#0d6efd;
}

.svg-header {
  font-size: 43px;
}

.product {
  background-color: #373838;
  color: aliceblue;
  margin: 1px 0;
}

.trash {
  color: #d35b5b
}