$primary: #9760df;
$success: #9dbd94;
$danger: #d35b5b;
$dark: #222525;

@import '~bootstrap/scss/bootstrap.scss';

:root{
  --main-bg-color: #9760df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222525;
  color: aliceblue;
}

main {
  width: 100%;
  min-height: 100vh;
}

.add-product .form-control {
  background-color: #222525 !important;
  color: aliceblue;
  margin: 10px 0;
}

footer .btn {
  border: 2px solid aliceblue !important;
  color: aliceblue;
}

footer .btn:hover {
  background-color: aliceblue;
  color:var(--main-bg-color);
}

.form-control:focus {
  background-color: #2c2e2e !important;
}

.svg-header {
  font-size: 43px;
}

.product {
  background-color: #373838;
  color: aliceblue;
  margin: 1px 0;
}
